@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

.container-margin {
    width: 100%;
    position: relative;
    padding: 5rem 0;
}

.header-content, header {
    background-color: #F5FBF8;
}

.nav-item a {
    font-size: 1rem;
    font-weight: 500;
}

.hero-text {
    font-size: 3rem;
    font-weight: 800;
}

.section-text {
    font-size: 2.4rem;
    font-weight: 700;
}

.pricing-section {
    background-image: linear-gradient(#EFFEF9, #F6F9F6, #FEF3F3); 
}

.feature-img {
    padding: 15px;
    border-radius: 30px;
    color: #15b390;
    background-color: #CCEFE7;
}

.bi-check2-circle {
    font-size: 1.2rem;
    color: #15b390;
    padding-right: 5px;
}

.bi-x-circle {
    font-size: 1.2rem;
    color: #fd5252;
    padding-right: 5px;
}

.card {
    border-radius: 15px !important;
}

.white-card {
    color: #ffffff;
}

.price-list {
    list-style: none;
    padding: 10px 0px;
}

.price-list li {
    padding: 5px 0px;
}

.pricing-detail p sup {
    font-size: 2.5em;
    font-weight: 600;
}

.green-btn {
    border-style: none;
    padding: 12px 40px;
    border-radius: 25px;
    background-color: #02AD88;
    color: #ffffff;
    font-weight: 600;
}

.free-trial {
    border-style: none;
    padding: 12px 40px;
    border-radius: 25px;
    background-color: #645CFE;
    color: #ffffff;
    font-weight: 600;
}

.text-green {
    color: #02AD88;
}

.error {
    color: red;
    font-size: 14px;
    font-style: italic;
}

.links a {
    display: block;
    padding: 4px 0px;
    text-decoration: none;
    color: #252a3a;
}

.form-control:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25) !important;
} 

footer {
    background-color: #F9FAFF;
}

.compyright {
    background-color: #ffffff;
}